.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    background-color: #5e7359;
    color: white;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.btn-group a{
    margin:0px;
    width: 100%;
    border: 0px;
    padding: 10px 0px;
    font-size: 14px;

    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.ribbon-button {
    background-color: #718a6b;
    color: white;
    text-decoration: none;
}

.ribbon-button:hover{
    color: white;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.ribbon-button:hover, .dropdown:hover .ribbon-button {
    background-color: #5e7359;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 41px);
    transition: all 0.3s;
}

.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .25);
}

/* Sidebar heading */
.sidebar ul li text {
    display: block;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid grey;
}

/* All list elements including projects */
.sidebar ul a {
    display: block;
    padding: 12px 16px;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

/* Cores */
.sidebar ul ul a {
    padding-left: 32px;
}

/* Samples */
.sidebar ul ul ul a {
    padding-left: 48px;
}

.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d7";
}
.sidebar.toggled {
    margin-left: -250px;
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}