.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    background-color: #718a6b;
    color: white;
    font-size: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    vertical-align: middle;
    text-align: center;
    display:none;
    /*
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;

    opacity: 0;
    visibility: hidden;
    */

}

/*
.specimen-container:hover .overlay, .specimen-container:active .overlay {
    opacity: 1;
    visibility: visible;

}
*/

text {
    font-weight: bold;
    padding: 4px 5px 5px 4px;
}

p {
    font-weight: bold;
    padding: 0px 5px;
    margin-left: -1px;
}

.counter {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: 27px;
    background-color: rgba(255,255,255,0.9);
    border: 2px solid grey;
}

.overlay .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(1.3vw + 18px);
    height: calc(1.3vw + 18px);
}

.overlay .edit-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(1.3vw + 18px);
    height: calc(1.3vw + 18px);
}

.overlay .info-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(1.3vw + 18px);
    height: calc(1.3vw + 18px);
}

.overlay text {
    position: absolute;
    top: 1%;
    left: 1%;
    margin-top: -2%;
    font-size: calc(0.9vw + 10px);
}


.overlay .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vw;
    height: 2.5vw;
}

.overlay button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
}

.overlay input {
    margin: 0;
    position: absolute;
    width: 75px;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 5%);
    font-weight: bold;
}

/* Caret/arrow rotation on sidebar dropdown buttons */
.sidebar a[aria-expanded="true"]::before {
    transform: rotate(180deg);
}

.sidebar a::before, .sidebar a.collapsed::before {
    transform: rotate(-90deg);
}



.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 46px);
    transition: all 0.3s;
}

.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .25);
}

/* all list elements including projects */
.sidebar ul a {
    display: block;
    padding: 12px 16px;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

/* Cores */
.sidebar ul ul a {
    padding-left: 32px;
}

/* Samples */
.sidebar ul ul ul a {
    padding-left: 48px;
}

.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}